section .our-design{
    background-color: rgb(214, 213, 213);
}

.our-design .container{
    width:90%;
    /* display: flex; */
}
.flex-card{
    /* display: flex; */
    align-items: center;
    border: 1px solid rgb(199, 195, 195);
    margin-right: 12px;
    padding: 13px;
    margin-bottom: 13px;
    width: 49%;
    display: inline-flex;
}
.our-design .photo-design{
    background: var(--perpel-color);
    border-radius: 10px;
    padding:3px  5px 0px;
    margin-right: 20px;
}
.our-design .photo-design img{
    padding: 0
}

.our-design .text-design h4{
    font-weight: bold;
}
.our-design .text-design p{
    color:rgb(101, 100, 100);
}